{% extends 'base.html.twig' %}

{% block title %}New AppClass{% endblock %}

{% block body %}
    <h1>Create new AppClass</h1>

    {{ include('app_class/_form.html.twig') }}

    <a href="{{ path('app_class_index') }}">back to list</a>
{% endblock %}
